body{
	background-color: #666666;

}
header{
	background-color: #006600;
	border-radius: 10px;
	padding: 10px;
	height: 400px;
	border: 1px solid black;
	width: 200px;
	position: fixed;
	left: 20px;

}



.logo{
	background-color: #004d1a;
	border-radius: 100%;
	margin: 50px;
	margin-top:10px;
	margin-bottom: 10px;
	
}
.logo:hover{
	opacity:.8;


}


header nav a{
	color:black;
	text-decoration: none;

	
}
.nav_details{
	color: #4b0066;
	margin: 10px;
	margin-top: 1px;
	font-size:20px;

}
.nav_details a:hover{
	color: black;
	text-decoration: underline;	

}
.nav_details summary:hover{
	text-decoration: underline;	

}
.nav_details summary:focus{
	outline: none;
	color:#38004d;
	text-decoration: underline;

	
}

.nav_details ul{

	list-style-type: none;
}

.nav_details li a{
	color: #1a1a1a;
}

main
{
	background-color: #999999;
	padding: 20px;
	box-shadow: -2px 2px 3px;
	margin: auto;
	box-sizing: padding-box;
	width: 50%;
}
#Graduates img{
	float: right;
	margin: 20px;
}

main article{
	margin: 80px;
}

#graduates_nav a{
	color:#004d00;
	font-size: 20px;

}
#graduates_nav a:hover{
	color:#009d00;
	font-size: 20px;

}

.facebook{
	height: 40px;
	background-color: black;
	border-radius: 100%;
	float:left;	
	opacity:.8;
	position: relative;

}
.facebook:hover{
	
	opacity: 0.5;

}
main p{
	text-indent: 25px;
	text-align: left;
}

#ipt_photo{
	float: left;
	margin:10px;
}
